<div class="card">
  
  <div class="card-header">  
  <h2>My Heroes</h2>
  </div>

  <div>
    <ul class="heroes">
    
      <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
          <a routerLink="/detail/{{hero.id}}">
             <span> <img class="img-responsive img-thumbnail" style="max-width:25%;" src={{hero.thumbnail}}> {{hero.name}}  </span>
           </a>
      </li>
    
    </ul>

  </div>
  
  <app-hero-detail [hero]="selectedHero"></app-hero-detail>

</div>